@model IEnumerable<RentalKendaraan_20180140108.Models.Customer>

@{
    ViewData["Title"] = "Index";
}



<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<h2>Tambah Data Peminjaman</h2>

<p>
    <a asp-action="Create">Tambah Data Baru</a>
</p>

@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <p>
        Nama Customer: @Html.DropDownList("ktsd", "Pilih Nama Customer")
        Cari Data : @Html.TextBox("searchString")
        <input type="submit" value="Filter" />
    </p>
}



@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <p>
        Customer: @Html.DropDownList("ktsd", "Pilih Nama Customer")

        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alamat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoHp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGenderNavigation)
            </th>

            <th><a asp-action="Create"><i class="fa fa-plus-square-o"> </i></a></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaCustomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alamat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoHp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdGenderNavigation.IdGender)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCustomer"><i class='fas fa-marker'></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdCustomer"><i class='fas fa-'></i></a> |

                    <a asp-action="Delete" asp-route-id="@item.IdCustomer"><i class='fas fa-trash-alt' style='color:blue'></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
