@model PaginatedList<RentalKendaraan_20180140108.Models.Peminjaman>

@{
    ViewData["Title"] = "Index";
}


<h2>Tambah Data Peminjaman</h2>

<p>
    <a asp-action="Create">Tambah Data Baru</a>
</p>

@using (Html.BeginForm("Index", "Peminjaman", FormMethod.Get))
{
    <p>
        Nama Kendaraan : @Html.DropDownList("ktsd", "Pilih Kendaraan")
        Cari Data : @Html.TextBox("searchString")
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @*Html.DisplayName("Tanggal Peminjaman")*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParn"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tanggal Peminjaman</a>
            </th>
            <th>
                @*Html.DisplayName("Nama Customer")*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParn"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nama Customer</a>
            </th>
            <th>
                @Html.DisplayName("Biaya")
            </th>
            <th>
                @Html.DisplayName("Jaminan")
            </th>
            <th>
                @Html.DisplayName("Nama Kendaraan")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TglPeminjaman)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Biaya)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCustomerNavigation.IdCustomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdJaminanNavigation.IdJaminan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdKendaraanNavigation.IdKendaraan)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPeminjaman"><i class='fas fa-marker'></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdPeminjaman"><i class='fas fa-'></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPeminjaman"><i class='fas fa-trash-alt' style='color:blue'></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next

</a>